
<mat-toolbar color="primary">
  
    <span>Product App</span>
    <!-- <span class="example-spacer"></span>
    <p>About us</p>
    <span class="example-spacer"></span>
    <p>Contact us</p> -->
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="login">Login</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" routerLink="register">Register</button>

</mat-toolbar>
