<!-- <app-nav></app-nav>
 -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <h1>Well come Home!</h1>

<ul type="none">
    <li>
        <a href="" roterLink="register">Register</a>
    </li>
    <li>
        <a href="" routeLink="login">Login</a>
    </li>
</ul> -->
<!-- <app-register></app-register>
<app-login></app-login> -->
