.card-layout{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
h4{
    color: azure;
}
.card{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}