<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h4>ProductApp</h4>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-light ms-2" routerLink="register">Login</button>
                <button class="btn btn-light ms-3" routerLink="login">Register</button>
            </div>
        </div>
    </div>
  </nav>

      <div class="card-layout">
        <div class="card" style="width: 18rem;"  *ngFor="let product of products">
        <img src="https://cdn.pixabay.com/photo/2016/11/19/12/24/bicycle-1839005__480.jpg" class="card-img-top" alt="Image">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h5>{{product.rating}}</h5>
            <a href="https://www.facebook.com" class="btn btn-primary">click</a>
        </div>
        </div>
    </div>

    <p>dashboard works!</p>


      <!-- <div id="cards">
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
          
        </div>
      </div><div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-128288.jpg?t=st=1658478932~exp=1658479532~hmac=a2ba88fa269e00aa4a5f3a83f60b31c3b38ebb104b5a57cfefd651f74bf4fe6a&w=996" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sample1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btnb btn-primary">Buy</a>
          <a href="#" class="btna btn-primary">Add</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/product-backdrop-cinematic-smoke-realistic-design_53876-12828… -->
