<div class="register-layout">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Registration form
            </mat-panel-title>
            <mat-panel-description>
                Enter your details
              </mat-panel-description>
          </mat-expansion-panel-header>
        <div class="registerform-layout">
          <mat-form-field appearance="fill">
            <mat-label>Enter First name</mat-label>
            <input matInput type="text" [(ngModel)]="user.name" placeholder="xyz">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter password</mat-label>
            <input matInput type="password" [(ngModel)]="user.password" placeholder="password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter email</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" placeholder="vi@gmail.com" >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter Location</mat-label>
            <input matInput  [(ngModel)]="user.location" placeholder="location">
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="registerUser()">Register</button>
        </div>
    </mat-expansion-panel>

</div>